.catalog {
	&-block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&-card {
		max-width: 570px;
		position: relative;

		&_buttons {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&_button {
			padding: 10px;
			text-transform: uppercase;
			border: none;
			font-size: 11px;
		}

		&_tag {
			position: absolute;
			top: 0;
			right: 0;
		}
	}


}
